.contact-form {
    width: 500px;
    margin: auto;
    padding-top: 80px;
}

form label,
form input {
    display: block;
    width: 100%;
}

label {
    padding-top: 8px;
    padding-bottom: 2px;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #535353;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;
}

.submit-button-cont {
    padding-top: 8px;
}

.submit-button {
    cursor: pointer;
}

[type="submit"] {
    width: 110px;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #535353;
}

@media (max-width: 520px) {
    .contact-form {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}