
.flex-container {
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 30px;
    overflow-x: hidden;
}

.work {
    min-width: 550px;
    display: block;
    position: relative;
    width: 40%;
    background-color: rgb(180, 208, 231);
    color: #646262;
    padding: 15px;
    border-radius: 15px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: -1;
}


.flex1 {
    left: -100%;
    animation-name: leftSlide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}


.flex2 {
    left: 105%;
    animation-name: rightSlide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    min-width: 580px;
    width: 43%;
    padding: 20px;
    background-color:  rgb(90, 131, 158);
    color: rgb(233, 233, 233);
}

.flex3 {
    left: -100%;
    animation-name: leftSlide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1.1s;
}

.flex4 {
    left: 105%;
    animation-name: rightSlide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}


@keyframes leftSlide {
    from {left: -100%;}
    to {left: 50%; transform: translate(-50%,0);}
}

@keyframes rightSlide {
    from {left: 105%;}
    to {left: 50%; transform: translate(-50%,0);}
}


.work h3 {
    font-size: 1.1rem;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
}
.work h4 {
    font-size: 1rem;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    font-size: 1rem;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.flex3 ul {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 760px) {
    .work {
        min-width: 200px;
        width: 90%;
    }
    .flex-container {
        min-width: 100px;
    }
    .flex1 {
        animation-duration: 1.5s;
    }
    .flex2 {
        animation-duration: 1.5s;
    }
    .flex3 {
        animation-duration: 2s;
    }
    .flex4 {
        animation-duration: 2s;
    }

}