.cont-buttons,
.buttons {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;   
}


.main-content {
    padding-top: 60px;
    padding-bottom: 50px;
}

.slide-container {
    margin: auto;
    width: 800px;
    overflow: hidden;
    position: relative;
    max-height: 380px;
    text-align: center;
    box-shadow: 8px 8px 10px 1px grey;
}

.img {
    width: 100%;
    height: auto;
    user-select: none;
}

.cont-buttons {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: 0.6s;
}

.buttons {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    font-size: 2rem;
    color: honeydew;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
}
.cont-back {
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
}

.cont-forward {
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
}

.cont-pause {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.cont-buttons:hover {
    background-color: rgba(128, 128, 128);
    background-color: rgba(128, 128, 128, 0.6);
    transition: 0.6s;
}

.float-text.first {
    bottom: 30px;
    right: 30px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: rgba(128, 128, 128);
    background-color: rgba(128, 128, 128, 0.5);
    color: honeydew;
    user-select: none;
}

.float-text.second {
    display: none;
}

.description {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #808080;
    text-align: center;
    padding-top: 30px;
    margin: auto;
}

@media (max-width: 820px), (max-height: 588px) {
    .slide-container {
        width: 600px;
        height: 285px;
}
    .main-content {
        padding-top: 30px;
    }
    .float-text.first {
        bottom: 15px;
        right: 15px;
    }
    .description {
        width: 500px;
    }
}

@media (max-width: 470px) {
    .slide-container {
        width: 300px;
        height: 142.5px;
        box-shadow: none;
    }
    .float-text.first {
        display: none;
    }
    .float-text.second {
        display: block;
        font-family: 'Roboto', sans-serif;
        color: #808080;
        padding: 10px;
        text-align: center;
        margin: auto;
    }
    .cont-buttons {
        width: 40px;
        height: 40px;
    }
    .buttons {
        font-size: 1em;
    }
    .cont-buttons:hover {
        background: none;
    }
    .cont-buttons:active {
        background-color: rgba(128, 128, 128);
        background-color: rgba(128, 128, 128, 0.5);
    }
    .description {
        width: 300px;
    }
}